{% extends "base.html" %}

{% block title %}
    Role List
{% endblock %}

{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "listroomstatusurl" as thelistroomstatusurl %}
            <a class="btn btn-default {%if 'list' in request.path%} active {%endif%}" href={% url "listroomstatusurl" SN=SN %}><span class="glyphicon glyphicon-edit"></span>人员信息</a>
            {% url "historystatusurl" as thehistorystatusurl %}
            <a class="btn btn-default {%if 'history' in request.path%} active {%endif%}" href={% url "historystatusurl" SN=SN %}><span class="glyphicon glyphicon-list"></span>人数信息</a>
        </div>
        <div class="btn-group" style="float:right;padding-right:40px;">
            <a id="alink" class="btn btn-default btn-danger" onClick="doWarning()"href="javascript:void(0);">手动报警</a>
        </div>
    </div>

    <hr/>
    <div id="main" style="width: auto;height:400px;"></div>
    <script type="text/javascript">
        $(document).ready(function(){
            var myChart = echarts.init(document.getElementById('main'));
            $.ajax({ 
                type : "get", 
                url : "/monitor/historydata/" + "{{ SN }}" + "/", 
                data : "", 
                async : false, 
                success : function(data){
                    result_data = eval(data);
                    window.data_frid = result_data[0];
                    window.data_ir = result_data[1];
                } 
            }); 
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '机房出入人数记录'
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: [
                    {
                        data: window.data_frid.map(function (item) {
                            return item[0];
                        })
                    },
                    {
                        data: window.data_ir.map(function (item) {
                            return item[0];
                        })
                    }
                ],
                yAxis: {
                    splitLine: {
                        show: false
                    }
                },
                toolbox: {
                    left: 'center',
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                dataZoom: [{
                    startValue: '2016-10-30 04:15'
                }, {
                    type: 'inside'
                }],
                series: [
                    {
                        name: 'FRID人数',
                        type: 'line',
                        data: window.data_frid.map(function (item) {
                            return item[1];
                        }),
                    },
                    {
                        name: '红外人数',
                        type: 'line',
                        data: window.data_ir.map(function (item) {
                            return item[1];
                        }),
                    },
                ],
            };
            myChart.setOption(option);  
        });

        function doWarning(){
            $("#myModal").empty();
            my_ajax("{% url "dowarningurl" SN=SN %}","#myModal","post")
            $('#myModal').modal()
        };
        function display() { 
            ws=new WebSocket("ws://{{  websocket_url }}/"); 
            //监听消息
            ws.onmessage = function(event) { 
                //valueLabel.innerHTML+ = event.data; 
                //log(event.data);
                window.location.reload(); 
            }; 
            // 打开WebSocket 
            ws.onclose = function(event) { 
              //WebSocket Status:: Socket Closed
            }; 
            // 打开WebSocket
            ws.onopen = function(event) { 
               //WebSocket Status:: Socket Open
                //// 发送一个初始化消息
                ws.send("Hello, Server!"); 
            }; 
            ws.onerror =function(event){
                //WebSocket Status:: Error was reported
            };
        };
        display();
    </script>
{% endblock %}
