{% extends "base.html" %}

{% block title %}
    Add Role
{% endblock %}

{% block head %}
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">
{% endblock %}

{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "addvisitorurl" as theaddvisitorurl %}
            <a class="btn btn-default {%if request.path = theaddvisitorurl%} active {%endif%}" href={{ theaddvisitorurl }}><span class="glyphicon glyphicon-edit"></span>新建访客</a>
            {% url "listvisitorurl" as thelistvisitorurl %}
            <a class="btn btn-default {%if request.path = thelistvisitorurl%} active {%endif%}" href={{ thelistvisitorurl }}><span class="glyphicon glyphicon-list"></span>访客列表</a>
        </div>
    </div>

    <hr/>

    <form class="form-horizontal" role="form" action={% url "addvisitorurl" %} method="POST" >
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-2">
                    {{item}}
                </div>
                {% if item.label == "标 识" %}
                    <div><button type="button" onclick="get_personsn()" class="btn btn-sm">获 取</button></div>
                {% endif %}
                {% if item.label == "姓 名" %}
                    <div><button type="button" onclick="get_idcard()" class="btn btn-sm">获 取</button></div>
                {% endif %}
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm">新 增</button>
            </div>
        </div>

    </form>

    <script>
        var demo1 = $('select[name="permission"]').bootstrapDualListbox({
              nonSelectedListLabel: '可选择权限',
              selectedListLabel: '已选择权限',
              preserveSelectionOnMove: 'moved',
              moveOnSelect: false,
        });

        function ajax_jsonp(url){
            $.ajax({
                 url:url,
                 dataType:'jsonp',
                 processData: false, 
                 type:'get',
                 success:function(data){
                   alert(data);
                 },
                 error:function(XMLHttpRequest, textStatus, errorThrown) {
                   alert(XMLHttpRequest.status);
                   alert(XMLHttpRequest.readyState);
                   alert(textStatus);
                 }});
        } 

        function get_idcard(){
            ajax_jsonp("http://127.0.0.1:8080/idcard")
        } 
        function get_personsn(){
            ajax_jsonp("http://127.0.0.1:8080/personsn")
        } 
    </script>

{% endblock %}
