{% extends "base.html" %}

{% block title %}
    List User
{% endblock %}

{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "addvisitorurl" as theaddvisitorurl %}
            <a class="btn btn-default {%if request.path = theaddvisitorurl%} active {%endif%}" href={{ theaddvisitorurl }}><span class="glyphicon glyphicon-edit"></span>新建访客</a>
            {% url "listvisitorurl" as thelistvisitorurl %}
            <a class="btn btn-default {%if request.path = thelistvisitorurl%} active {%endif%}" href={{ thelistvisitorurl }}><span class="glyphicon glyphicon-list"></span>访客列表</a>
        </div>
    </div>

    <hr/>

    <form class="form-horizontal" role="form" action={% url "editvisitorurl" ID %} method="POST" >
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-2">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确认更新吗？')">更 新</button>
            </div>
        </div>
    </form>
{% endblock %}
