            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>机房监控</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse {% if 'monitor' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>

                                    {% for room in rooms %}
                                        <tr><td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listroomstatusurl" SN=room.roomsn %}>{{ room.name }}</a>
                                        </td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>机房管理</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse {% if 'room' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listroomurl" %}>机房管理</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>网站管理</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse {% if 'accounts' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listuserurl" %}>用户管理</a>
                                        </td>
                                    </tr>
        <!--                             <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listroleurl" %}>角色管理</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listpermissionurl" %}>权限管理</a>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>访客管理</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse {% if 'visitor' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listvisitorurl" %}>访客管理</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>策略管理</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse {% if 'strategy' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "liststrategyurl" %}>策略管理</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>

            </div>
